{{ $paginator := .Paginator }}

<div class="pb-10 grid grid-cols-2 font-semibold">

    <!-- Previous page. -->
    <div>
        {{ if $paginator.HasPrev }}
        <a href="{{ $paginator.Prev.URL }}" class="inline-flex items-center gap-2">
            <span class="h-4 w-4 stroke-2"> {{ partial "processor/svg" "arrow-left" }} </span>
            Newer Posts
        </a>
        {{ end }}
    </div>

    <div class="flex justify-end">
        <!-- Next page. -->
        {{ if $paginator.HasNext }}
        <a href="{{ $paginator.Next.URL }}" class="inline-flex items-center gap-2">
            Older Posts
            <span class="h-4 w-4 stroke-2"> {{ partial "processor/svg" "arrow-right" }} </span>
        </a>
        {{ end }}
    </div>
    
</div>
