<article class="flex flex-col gap-1">
    <h1 class="text-xl font-bold hover:underline"> <a href=" {{ .Permalink }} ">{{ .Title }}</a></h1>
    <div class="text-gray-600">
    {{ if .Params.description }}
    {{ .Params.description }}    
    {{ else if .Summary  }}
    {{ .Summary }}
    {{ end }}
    </div>
    <div class="mt-2"><a class="inline-flex  gap-2 text-sm font-semibold items-center text-emerald-700 hover:text-emerald-600" href="{{ .Permalink }}">Read This Article <span class="w-4 h-4 stroke-2">{{ partial "processor/svg" "arrow-right" }}</span> </a> </div>
</article>