{{ define "main" }}

<article class="flex flex-col gap-10">
  <header class="flex flex-col gap-2">
    <h2 class="title-large">{{ .Title }}</h2>

    <div class="meta">
      {{/* Publish date */}}
      <time datetime="{{ .PublishDate }}" title='{{ .PublishDate.Format "Mon, Jan 2, 2006, 3:04 PM MST" }}'>
        {{ .PublishDate.Format "02/01/2006" }} - {{ printf (i18n "estimatedReadingTime") .ReadingTime }}
      </time>

      {{/* Categories */}} 
      {{ with (.GetTerms "categories") }} — 
        {{ range . }}
          <a class="categories" href="{{ .RelPermalink }}" alt="{{ .LinkTitle }}">
            {{ .LinkTitle }}
          </a>
        {{ end }} 
      {{ end }}
    </div>
  </header>

  {{ partial "single/table-of-contents" . }}

  <section>{{ .Content | emojify }}</section>

  {{ partial "single/comments/index" . }}

  <footer>
    {{ with (.GetTerms "tags") }}
      <div class="pb-14 taxonomy-list tags-list">
      {{ range . }}
        <a href="{{ .RelPermalink }}" alt="{{ .LinkTitle }}">
          {{ .LinkTitle }}
        </a>
      {{ end }}
      </div>
    {{ end }}
  </footer>
</article>

{{ end }}
